# Python
__pycache__/
*.py[cod]
.venv
env/

# Data & Models (Too large for git)
models/*/
!models/registry.json
datasets/*/
!datasets/registry.json
prompts/*/
!prompts/registry.json

# Outputs
experiments/
*.log
*.pt
*.safetensors
*.gguf
adapter_model/
